/* Cerulean (blue)         #4484CE
Aluminium (light gray)  #D9D9D9
Light (yeallow)         #F9CF00
Tangerine (orange)      #F19F4D */

footer {
  background: #4717F6;
  padding: 80px 0;
  text-align: center;
  color: #fff;
}

footer h2 {
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

footer h2 span {
  font-style: 700;
  color: #FEA83B;
}

footer .menu {
  margin-bottom: 20px;
}

footer .menu li {
  display: inline-block;
  padding: 10px 20px;
}

footer .menu li a {
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .8rem;
}

footer p {
  font-size: .8rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 40px;
}

footer .social-media li {
  display: inline-block;
  padding: 0 10px;
}

footer .social-media li a {
  color: #E6CDF9;
  font-size: 2rem;
  opacity: .5;
}

/* LAPTOP DEVICES */
@media only screen and (max-width: 1215px) {

}

/* TABLETS DEVICES */
@media only screen and (max-width: 1023px) {

}

/* MOBILE DEVICES */
@media only screen and (max-width: 767px) {

}
